*.collabignore
/Temp
/.vs
/obj
/Packages
sysinfo.txt
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*/Debug
*/cache
/Library
/Assets/Plugins
